<h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Add Funds&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>UserID: {{username}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="LogOut" type="button" value="Log Out" />​&nbsp; &nbsp;&nbsp;<a href="/home"><input name="Homepage" type="button" value="Homepage" />​</a></strong></span></p>

<form action ="" method = "post">
    <p>
        {{form.funds.label}} <br>
        {{form.funds(size=30)}}
    </p>
    <p>{{form.submit()}}
    </p>

</form>

<!-- 
<p><strong style="color: #000;">Current Balance: $12,555</strong></p>

<p><strong>Funds to Add ($) :&nbsp;<input name="Funds" type="text" /></strong></p>

<p><strong>Payment Type:&nbsp;&nbsp;</strong></p>

<p><strong>&nbsp;&nbsp;<select name="PaymentType" size="4"><option selected="selected" value="">Visa</option><option selected="selected" value="">MasterCard</option><option selected="selected" value="">eCheck</option><option selected="selected" value="">PayPal</option></select></strong></p>

<p><b>Name on Card:</b></p>

<p><b><input name="Card Name" type="text" /></b></p>

<p><strong>Card Number:</strong></p>

<p><strong><input name="CardNumber" type="text" /></strong></p>

<p><strong>CVV:</strong></p>

<p><input maxlength="3" name="CVV" size="3" type="text" /></p>

<p><strong>Expiry:</strong></p>

<p><strong><input name="month" size="2" type="text" /> /&nbsp;<input name="year" size="2" type="text" /></strong></p>

<p>&nbsp;</p>

<p><input name="Confirmation" type="button" value="Confirm" />&nbsp; &nbsp;<input name="Cancellation" type="button" value="Cancel" />​​<br />
&nbsp;</p>

<p>&nbsp;</p> -->
