<h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Client Search Results&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong> Facility Manager ID: {{username}}&nbsp; &nbsp; &nbsp;Clients: {{matchingclientlist}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="/logout"><input name="LogOut" type="button" value="Log Out" /></a>&nbsp; &nbsp;&nbsp;<a href="/fmhome"><input name="Homepage" type="button" value="Homepage" />​</a></strong></span></p>