<h1 style="color: rgb(68, 133, 184);">Mad Science Inc.</h1>

<h2 style="color: rgb(68, 133, 184);">Client Home</h2>

<p><strong style="color: rgb(0, 0, 0);">User ID: {{username}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/logout"><input name="LogOut" type="button" value="Log Out" />​</a>&nbsp; &nbsp;&nbsp;<a href="/home"><input name="Homepage" type="button" value="Homepage" />​</a></strong></p>

<p><b>Please select an option:</b></p>

<p><a href="/reservations/list"><input name="ShowReservations" type="button" value="Show Reservations" /></p></a>

<p><a href="/reservations/edit"><input name="EditReservations" type="button" value="Edit Reservations" /></p></a>

<p><a href="/reservations/create"><input name="CreateReservation" type="button" value="Create Reservation" /></p></a>

<p><a href="/reservations/cancel"><input name="CancelReservation" type="button" value="Cancel Reservation" /></p></a>

<p><a href="/reservations/cost"><input name="ReservationCost" type="button" value="Get Reservation Cost" /></p></a>

<p><a href="/balance/addfunds"><input name="AddFunds" type="button" value="Add Funds to Account" /></p></a>

<p><a href="/transactions/list"><input name="ShowTransactions" type="button" value="Show Transactions" /></p></a>

<p><a href="/balance/view"><input name="Balance" type="button" value="Show Balance" /></p></a>

<p><a href="/editprofile"><input name="EditProfile" type="button" value="Edit Profile" /></p></a>

