<h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Create Reservation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>User ID: {{username}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input name="LogOut" type="button" value="Log Out" />​&nbsp; &nbsp;&nbsp;<a href="/home"><input name="Homepage" type="button" value="Homepage" />​</a></strong></span></p>
<form action ="" method = "post">
    <p>
        {{form.stimekey.label}} <br>
        {{form.stimekey(size=30)}}
    </p>
    <p>
        {{form.machineidkey.label}} <br>
        {{form.machineidkey(size=30)}}
    </p>
    <p>
        {{form.etimekey.label}} <br>
        {{form.etimekey(size=30)}}
    </p>
    <p>{{form.submit()}}
    </p>

</form>



<!-- <h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Create Reservation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>UserID: SRIRAMA&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input name="LogOut" type="button" value="Log Out" />​</strong></span></p>

<p><strong>Equipment:&nbsp;<input name="Equipment" type="text" /></strong></p>

<p><b>Date (MM/DD/YYYY) :&nbsp;<input name="Date" type="text" />&nbsp;</b></p>

<p><b>Start Time (HH:MM) :&nbsp;<input name="ChangeDate" type="text" /></b></p>

<p><b>End&nbsp;Time (HH:MM) :&nbsp;<input name="ChangeStartTime" type="text" /></b></p>

<p>&nbsp;</p>

<p><input name="Reservation" type="button" value="Make Reservation" />&nbsp; &nbsp;<input name="Availability" type="button" value="Check Availability" />&nbsp; &nbsp;<input name="Cost" type="button" value="Cost Calculator" />&nbsp; &nbsp;<input name="Cancel" type="button" value="Cancel" /> &nbsp;<br />
&nbsp;</p>

<p>&nbsp;</p> -->
