<h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Edit Profile&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>User ID: {{username}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<input name="LogOut" type="button" value="Log Out" />&nbsp; &nbsp;&nbsp;<a href="/home"><input name="Homepage" type="button" value="Homepage" />​</a>​</strong></span></p>


<form action ="" method = "post">
    <p>
        {{form.newusername.label}} <br>
        {{form.newusername(size=30)}}
    </p>
    <p>{{form.submit()}}
    </p>

</form>

<!-- <p><strong style="color: #000;">​​Name: Anirudh Sriram</strong></p>

<p><strong style="color: #000;">Change Name:&nbsp;<input type="text" /></strong></p>

<p><strong>Change Password</strong></p>

<p><strong>Old Password:</strong></p>

<p><strong><input type="text" /></strong></p>

<p><strong>New Password:</strong></p>

<p><input type="text" /></p>

<p>&nbsp;</p>

<p><input name="Confirmation" type="button" value="Confirm" />&nbsp; &nbsp;<input name="Cancellation" type="button" value="Cancel " />​​<br />
&nbsp;</p>

<p>&nbsp;</p> -->
