<h1 style="color: rgb(68, 133, 184);">Mad Science Inc.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h1>

<p><strong>ManagerID:&nbsp;</strong>FacMgr1&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input name="LogOut" type="button" value="LogOut" />​&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p><b>Please select an option:</b></p>

<p><input name="ListClients" type="button" value="List Clients" /></p>

<p>​<input name="CreateRes" type="button" value="Create Client Reservation" /></p>

<p><input name="ModifyReservation" type="button" value="Modify Client Reservation" /></p>

<p><input name="CancelReservation" type="button" value="Cancel Client Reservation" /></p>

<p><strong>List Reservations For:</strong>&nbsp;<input name="reservationlist" type="text" />&nbsp; &nbsp;&nbsp;<input name="SearchClient" type="button" value="Search Client" /></p>

<p><strong>List Reservations From (MM/DD/YYYY):&nbsp;<input maxlength="8" name="FromDate" type="text" />&nbsp; To (MM/DD/YYYY) :&nbsp;&nbsp;<input maxlength="8" name="ToDate" type="text" /></strong>&nbsp; &nbsp; <input name="List" type="button" value="Search Date Range" /></p>

<p><strong>Search Reservation ID:&nbsp;<input name="ReservationID" type="text" />&nbsp;&nbsp;<input name="ReservationSearch" type="button" value="Search Reservation" /></strong></p>

<p><strong><input name="CreateClient" type="button" value="Create Client" /></strong></p>

<p><strong><input name="EditClient" type="button" value="Edit Client" /></strong></p>

<p><input name="AddFunds" type="button" value="Add Funds to Client Account" /></p>

<p><strong>Reactivate Client ID:&nbsp;</strong><input name="ClientID1" type="text" />&nbsp;&nbsp;<input name="ReactivateClient" type="button" value="Reactivate Client" /></p>

<p><strong>Deactivate Client ID:&nbsp;</strong><input name="ClientID1" type="text" />&nbsp;&nbsp;<input name="DeactivateClient" type="button" value="Deactivate Client" /></p>

<p><strong>Search Client ID:&nbsp;</strong><input name="ClientID1" type="text" />&nbsp;&nbsp;<input name="SearchClient" type="button" value="Search Client" /></p>

<p><input name="ShowTransactions" type="button" value="Show Facility Transactions" /></p>

<p><strong>View Client Transactions:&nbsp;</strong><input name="ClientID1" type="text" />&nbsp;&nbsp;<input name="SearchClient" type="button" value="Search Client Transactions" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
