<h1 style="color: #4485b8;">Mad Science Inc.&nbsp; &nbsp;</h1>

<h2 style="color: rgb(68, 133, 184);">Past Transactions</h2>

<p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>User ID: {{username}}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input name="LogOut" type="button" value="Log Out" />​&nbsp; &nbsp;&nbsp;<a href="/home"><input name="Homepage" type="button" value="Homepage" />​</a></strong></span></p>


<form action ="" method = "post">
    <p>
        {{form.stimekey.label}} <br>
        {{form.stimekey(size=30)}}
    </p>
    <p>
        {{form.etimekey.label}} <br>
        {{form.etimekey(size=30)}}
    </p>
    <p>{{form.submit()}}
    </p>

</form>

<!-- <p style="color: rgb(68, 133, 184);"><span style="color:#000000;"><strong>Current Balance: $12,555</strong></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td><strong>TransactionID</strong></td>
			<td><strong>ReservationID</strong></td>
			<td><b>Equipment</b></td>
			<td><strong>Date</strong></td>
			<td><strong>Start Time</strong></td>
			<td><strong>End Time</strong></td>
			<td><strong>Transaction Amount</strong></td>
		</tr>
		<tr>
			<td><strong>#1228693</strong></td>
			<td><a href="http://random"><strong style="color: rgb(0, 0, 0);">1JKl1234MNW</strong></a></td>
			<td>&nbsp;Workshop</td>
			<td>06/06/2020</td>
			<td>10:00 AM CDT</td>
			<td>12:00 PM CDT</td>
			<td>$198</td>
		</tr>
		<tr>
			<td><strong>#9283610</strong></td>
			<td><a href="http://random"><strong style="color: rgb(0, 0, 0);">2HJ891SDDWL</strong></a></td>
			<td>&nbsp;Irradiator</td>
			<td>06/08/2020</td>
			<td>
			<p>11:00 AM CDT</p>
			</td>
			<td>
			<p>12:00 PM CDT</p>
			</td>
			<td>$2200</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><input name="CreateReservation" type="button" value="Create Reservation" />​</p>

<p>​</p>

<p>&nbsp;</p> -->
