<h1 style="color: #4485b8;">Mad Science Inc.</h1>

<p><strong style="color: #000;">Basic usage:&nbsp;</strong>In order to create, modify or cancel a reservation please Log In.</p>

<p><strong>Username:</strong></p>

<form action="LogIn" id="Username" name="Username"><input name="userName" type="text" />&nbsp;</form>

<p><strong>Password:</strong></p>

<form action="UserPassword" id="password" name="password"><input name="Password" type="password" />​</form>

<p><input name="SubmitButton" type="submit" value="LogIn" />​&nbsp; &nbsp;</p>

<p><input name="Registration" type="button" value="New User?" />​</p>
