<h1 style="color: #4485b8;">Mad Science Inc.</h1>

<h1 style="color: #4485b8;"><b style="color: rgb(0, 0, 0); font-size: 16px;">Client Registration</b></h1>

<p><font color="#000000"><b>First Name:</b></font></p>

<form action="firstNameSubmit" enctype="multipart/form-data" id="firstName" name="firstName"><strong><input name="FirstName" type="text" />​</strong></form>

<p><strong>Last Name:</strong></p>

<form action="lastName" enctype="multipart/form-data" id="lastName" name="lastName"><input name="lastName" type="text" />&nbsp;</form>

<p><strong>Email Address:</strong></p>

<form action="emailAddress" enctype="multipart/form-data" id="emailAddress" name="emailAddress"><input name="Email" type="text" />&nbsp;</form>

<p><strong>Username:</strong>&nbsp;</p>

<form action="Username" enctype="multipart/form-data" id="Username" name="Username"><input name="Username" type="text" />&nbsp;</form>

<p><strong>Password:</strong></p>

<form action="Password" enctype="multipart/form-data" id="Password" name="Password"><input name="Password" type="text" />​</form>

<p><input name="Registration" type="button" value="Register" />​</p>